* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #1B1C1E;
}

main {
  height: 100vh;
  background-image: url('../img/02.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
  to left top,
  rgba(200,235,255,0.8),
  rgba(200,235,255,0.5)
  );
  border-radius: 6px;
  z-index: 9999;
  /*backdrop-filter: blur(2rem);*/
  display: flex;
  border: 0.50px solid #f0f0f0;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}
.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 1.5rem;
  padding: 1rem 1.5rem;
  border: solid .50px #1B1C1E;
  border-radius: 1rem;
  width: 33.33%;
  height: auto;

}
.dashboard span {
  color: red;
}

.link button {
  margin: 1rem 1rem;
  padding: 10px;
  background: #1B1C1E;
  color: #f0f0f0;
  border-radius: 5px;
  opacity: 0.8;
}

.dashboard h1 {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.display {
  background: #38B6FF;
  width: 100%;
  margin: 0;
  padding: 2px;
  color: #f0f0f0;
}

.display p {
  color: #f0f0f0;
}
#icono, #icono2 {
  color: #f0f0f0;
  padding-right: 2px;
}
.title {
  width: 100%;
  height: auto;
  margin: auto;
}

@media only screen and (max-width: 1090px) {
  .glass {
    width: 80%;
    padding: 15px;
    margin: 25px;
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .link {
    width: 80%;
  }
  .dashboard {
    padding: 25px;
  }
}

@media only screen and (max-width: 800px) {
  .glass {
    width: 80%;
    padding: 25px;
    margin: 25px;
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .link {
    width: 80%;
  }
  .dashboard {
    padding: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .glass {
    width: 100%;
    padding: 35px;
    margin: 35px;
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .link {
    width: 90%;
  }
  .dashboard {
    padding: 35px;
    height: 90%;
  }
  .dashboard h1 {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
}
@media only screen and (max-width: 300px) {
  .glass {
    width: 100%;
    padding: 35px;
    margin: 35px;
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .link {
    width: 100%;
    border: none;
  }
  .dashboard {
    padding: 35px;
    height: 90%;
  }
  .dashboard h1 {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
}
